
resolver 127.0.0.11;

server {
  listen 80;

  location / {
    root /app/static;
  }

  location /ipfs-api/ {
    proxy_pass http://ipfs:5001/;
  }

  location /bscTestnet/query/ {
    proxy_pass http://bsc-testnet:8000/;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }

  location /bscTestnet/admin/ {
    proxy_pass http://bsc-testnet:8020/;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }

  location /bscTestnet/indexing/ {
    proxy_pass http://bsc-testnet:8030/;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }
}